#desktop {
  position: absolute;
  left: 20%;
  top: 75px;
  width: 60%;
  height: auto;
  /*background-color: white;*/
}

.create-form {
  margin: 30px;
  background-color: white;
  font-size: x-large;
}

.link-list {
  background-color: white;
}

label {
  display: block;
  margin: 10px;
}

input {
  margin-left: 10px;
}

button {
  cursor: pointer;
  border-radius: 15px;
  font-size: x-large;
  margin: 20px;
}

.links {
  margin: 15px;
  list-style: none;
}

.badge {
  margin-right: 10px;
}

.link-items {
  margin: 15px;
}

a {
  text-decoration: none;
  color: black;
}
