<app-sidebar [currentPage]="0"></app-sidebar>

<div id="desktop">
  <div id="link-creator" (click)="gotoCreate()">
    <i class="material-icons md-24">add_circle_outline</i>
    Create a Link
  </div>
  <div *ngFor="let link of links; let i = index">
    <div id="dashboard-link">
      <i id="link-icon" class="material-icons md-48" style="color: navy">{{links[i].icon}}</i>
      <a [attr.href]="links[i].url" target="_blank">
        <h2 id="link-name">{{links[i].name}}</h2>
      </a>
      <i id="link-info" class="material-icons md-24" (click)="toggleDescription(i)">info_outline</i>
      <h4 id="link-description" *ngIf="showDescription === i">{{links[i].description}}</h4>
    </div>
  </div>
</div>
