#desktop {
  position: absolute;
  left: 34%;
  top: 75px;
  width: 45%;
  height: auto;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}

app-sidebar {
  /*border: solid 1px black;*/
  position: fixed;
  left: 18%;
  top: 82.5px;
  width: 15.5%;
  height: 80%;
  text-align: left;
  /*background-color: white;*/
}

#add-set {
  border-radius: 15px;
  height: 25px;
  font-size: large;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.toggle-sets {
  width: 100%;
  margin: auto;
}

.set-titles-active {
  font-size: 150%;
  color: #386fa0;
  border: 5px inset #90bde5;
  border-radius: 15px;
  background-color: lightgray;
  cursor: pointer;
}

.set-titles-inactive {
  font-size: 150%;
  color: #386fa0;
  border: 5px outset #90bde5;
  border-radius: 15px;
  cursor: pointer;
}

.link-set-table {
  width: 100%;
  margin: 50px 0 0 0;
}

.link-set {
  font-size: xx-large;
  border: 2px solid navy;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  height: 20px;
  margin: 30px 0;
  cursor: pointer;
}



