@media all and (max-width: 768px) {

}

@media only screen and (min-width: 769px) {
  div {
    position: absolute;
    left: 20%;
    top: 75px;
    width: 60%;
    height: auto;
    background-color: white;
  }
}
